<!-- templates/registration.html -->
{% extends "base.html" %}
{% block title %}Sign Up{% endblock%}
{% block content %}
  <div class="wrapper">
    <div class="title"><span>Sign Up</span></div>
    <form method="POST" action="{{ url_for('register') }}">
      <div class="row">
        <i class="fas fa-user"></i>
        <input type="text" name="username" placeholder="Username" required />
      </div>
      <div class="row">
        <i class="fas fa-envelope"></i>
        <input type="email" name="email" placeholder="Email" required />
      </div>
      <div class="row">
        <i class="fas fa-lock"></i>
        <input type="password" name="password" placeholder="Password" required />
      </div>
      <div class="row button">
        <input type="submit" value="Register" />
      </div>
      <div class="signup-link">Already a member? <a href="/login">Login here</a></div>
    </form>
  </div>
  <style>


    .title {
      margin-bottom: 20px;
      background: -webkit-linear-gradient(#ADD8E6, #08283a);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 70px;
      font-weight: bold;
      text-align: center;
    } 

    form {
      margin: auto;
      text-align: center;
      background-color: #f9f6f2;
      padding: 30px 20px;
      border-radius: 20px;
      max-width: 600px;
      max-height: 75vh;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      font-size: 23px;
    }

    input {
      font-size: 18px;
      margin: 15px 0px;
      min-width: 500px;
    }


  </style>
{% endblock %}
